<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar-home.ejs') %>

<div class="container">

    <br><div class="jumbotron">
        <h1 class="display-4">Seja bem-vindo!</h1>
        <p class="lead">Este é um slimples blog criado para fins de prática, com NodeJS.</p>
        <hr class="my-4">
    </div>
    
    <% articles.forEach(article => { %>
        <br>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %> " class="btn btn-primary" style="padding: 7px 35px;">Saiba mais!</a>
            </div>
        </div>
        <br>
    <% }) %><!--container-->
    <br>
</div>


<%- include ('../partials/body.ejs') %> 
